

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 73, 21);

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: rgb(69, 153, 80);
  }
a.navbar {
  font-family: 'Anton', sans-serif;
}
h1.title {
  height: 40px;
  width: 500px;
  background-color: rgb(12, 73, 21);
  font-family: 'Noto Sans', sans-serif;
  color: white;
  
}
img.tcrlogo {
  float: left;
  width: 125px;
  height: 63px;

}
body.index{
  background-image: url(/imgs/sportlaan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
h2.hometitle {
  height: 50px;
  width: 500px;
  background-color: rgb(12, 73, 21);
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
p.hometext {
  height: 450px;
  width: 500px;
  background-color: rgb(12, 73, 21);
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
.square1 {
  height: 400px;
  width: 500px;
  background-color: rgb(12, 73, 21);
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
body.otherbody {
  background-color: rgb(69, 153, 80);
}
.title2 {
  font-family: 'Noto Sans', sans-serif;
}
.titleh2 {
  font-family: 'Noto Sans', sans-serif;
}
.p-software {
  font-family: 'Noto Sans', sans-serif;
  size: 20px;
}